.banner {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    padding-top: 50px;
    max-width: 600px;
    margin: 0 auto;
}

.banner h1 {
    font-size: 50px;
    font-weight: 200;
}

.banner p {
    font-size: 40px;
    letter-spacing: 4px;
}

.parts {
    position: relative;
}

.home-lines {
    position: absolute;

}

.exclamation-mark-extra {
    display: none;
    overflow: hidden;
}

.exclamation-mark {
    left: 52px;
    top: -9px;
}

.circle {
    right: -16px;
    top: -17px;
}

.wavy-line {
    right: 0;
}

.link-to-about {
    padding-top: 20px;
    font-size: 15px;
}

.click-button {
    text-decoration: underline;
}

.click-button:hover {
    color: #D987CE;
}

.my-svg {
    position: relative;
    margin-bottom: 30px;
}

.me-line {
    max-width: 300px;
    position: absolute;
    left: -343px;
    top: -160px;
}