.banner {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    padding-top: 30px;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

.banner h1 {
    font-size: 50px;
    font-weight: 200;
}

.banner p {
    font-size: 40px;
    letter-spacing: 4px;
}

.home-lines {
    position: absolute;

}

.exclamation-mark {
    top: 19px;
    right: 256px;
}

.circle {
    top: 105px;
    right: 95px;
}

.wavy-line {
    top: 250px;
    right: 27px;
}

.link-to-about {
    padding-top: 20px;
    font-size: 15px;
}

.click-button {
    text-decoration: underline;
}

.click-button:hover {
    color: #D987CE;
}

.my-svg {
    position: relative;
    margin-bottom: 30px;
}

.me-line {
    max-width: 300px;
    position: absolute;
    left: -343px;
    top: -160px;
}