.banners-about {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 100px;

}

.about-picture {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.my-pic {
    max-width: 300px;
    border-radius: 30px;
}

.about-me {
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
}

.about-me p {
    font-size: 20px;
    line-height: 1.5;
}

.blue {
    color: #82B4E0;
}

.violet {
    color: #9374e1;
}

.current-situation {
    position: relative;
}

.highlight {
    position: absolute;
    bottom: -3px;
    right: 150px;
}

.toolbox, .experience, .education {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.toolbox, .experience-picture, .education-picture {
    text-align: center;
}

.and-more-img {
    max-width: 100px;
}

.sentence-me {
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
}

.tools {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 40px;
    place-items: center;
}

.one-tool {
    border: 1px solid #1F598A;
    max-width: max-content;
    border-radius: 20px;
    padding: 10px 15px;
    transition: all .5s ease 0s!important;
}

.one-tool:hover {
    transform: scale(1.08) !important;
}

.all-jobs {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.experience-info {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-evenly;
}

.job-responsibilities {
    max-width: 765px;
}

.job-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 190px;
}

.position, .university {
    font-weight: 600;
}

.company, .profession {
    font-weight: 400;
    color: #343434;
    font-size: 18px;
}

.period, .place, .grade {
    color: #a7a7a7;
    font-size: 15px;
}

.education-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: max-content;
    padding: 0 50px;
}

.degree-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}