.banners-about {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

}

.about-picture {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.my-pic {
    max-width: 300px;
    border-radius: 30px;
}

.about-me {
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.about-me p {
    font-size: 20px;
    line-height: 1.5;
}

.skills-h2 {
    text-align: center;
    margin: 30px;
}


.deep-blue {
    color: #6486c6;
}

.my-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-title {
    padding: 20px;
    font-size: 30px;
    background-color: transparent;
    width: 23%;
    text-align: center;
    margin-bottom: 35px;
    border: solid 4px #6486c6;
}

.skill-title a {
    display: block;
}

.skill-title a {
    color: #FFFFFF;
}
