@media screen and (max-width: 1000px) {
    .me-line {
        display: none;
    }

}

@media screen and (max-width: 650px) {
    .home-lines {
        display: none;
        overflow: hidden;
    }

    .parts {
        padding: 0 20px;
    }

    .exclamation-mark-extra {
        color: #A0CEDD;
        display: initial;
        font-weight: 400;
    }

    .name-extra {
        color: #E29DD7;
        font-weight: 400;
    }

    .occupation-extra {
        color: #5E803D;
        font-weight: 400;
    }

    .banner {
        gap: 50px
    }

    .banner h1 {
        font-size: 55px;
    }

    .banner p {
        font-size: 35px;
    }

    .link-to-about {
        font-size: 17px;
    }

    .my-svg-portrait {
        min-width: 250px;
    }
}


@media screen and (max-width: 380px) {
    .banner p {
        font-size: 30px;
    }

    .banner h1 {
        font-size: 50px;
    }
}
