.burger-menu {
    display: none;
}

@media screen and (max-width: 1000px) {
    .mail-image {
        display: none
    }

    .menu-nav {
        flex: none;
    }

    .my-svg-portrait {
        min-width: 300px;
    }

}

@media screen and (max-width: 650px) {
    .all-header-components {
        border-bottom: 1px solid #807e7e;
        padding: 22px 30px;
    }

    .menu-nav {
        display: none;
        overflow: hidden;
    }


    .navigation.active {
        display: flex;
        opacity: 1;
        width: 100%;
        position: absolute;
        padding: 25px 30px;
        box-sizing: border-box;
    }

    .burger-menu {
        display: flex;
        position: relative;
        z-index: 50;
        align-items: center;
        width: 30px;
        height: 27px;
        cursor: pointer;
    }

    .burger-menu span {
        height: 2px;
        width: 80%;
        transform: scale(1);
        background-color: #5E803D;
    }

    .burger-menu:before, .burger-menu:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #5E803D;
        transition: all 0.5s ease 0s;
    }

    .burger-menu:before {
        top: 0;
    }

    .burger-menu:after {
        bottom: 0;
    }

    .burger-menu.active span {
        transform: scale(0);
    }

    .burger-menu.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    .burger-menu.active:after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }
}

@media screen and (max-width: 400px) {
    .dev-email {
        font-size: 20px;
    }
}

@media screen and (max-width: 330px) {
    .dev-email {
        font-size: 15px;
    }

    .positive-sentence {
        font-size: 15px;
    }

    .another-platforms {
        font-size: 13px;
    }

    .page-info {
        flex-direction: column;
    }

    .footer-copyright {
        border-right: none;
    }
}