@media screen and (max-width: 1280px) {
    .all-projects {
        padding-right: 50px;
        padding-left: 50px;
        gap: 50px;
    }

    .projects-top {
        padding: 30px 20px;
        grid-template-columns: none;
        gap: 10px;
    }

    .project-info {
        width: auto;
        height: auto;
        position: initial;
        text-align: center;
        flex-direction: column;
        gap: 30px;
    }

    .one-project {
        flex-direction: column;
    }

    .project-details {
        top: -25px;
        height: fit-content;
    }

    .project-image-div {
        padding: 20px;
    }

    .project-image {
        width: 100%;
        max-width: unset;
    }
}


@media screen and (max-width: 750px) {
    .all-projects {
        padding: 40px 20px 20px;
    }


}

@media screen and (max-width: 650px) {
    .my-projects-h1 {
        text-align: center;
        font-size: 25px;
    }

    .line-project {
        display: none;
        overflow: hidden;
    }

    .project-details {
        font-size: 15px;
    }
}

@media screen and (max-width: 350px) {
    .project-title {
        font-size: 35px;
        font-weight: 400;
    }

}
