@media screen and (max-width: 1000px) {
    .banner {
        padding-top: 100px;
    }

    .me-line {
        display: none;
    }

}


@media screen and (max-width: 375px) {
    .banner {
        gap: 100px
    }

}
