<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>{{ title }}</title>
    {% endblock title %}
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/media_base.css') }}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-con" href="images/favicon.ico">
    {% block css %} {% endblock %}
</head>
<body>
{% block header %}
<header class="header-menu">
    <div class="header-container">
        <div class="logo">
            <a href="{{ url_for ('home') }}">
                <img src="{{ url_for ('static', filename='images/D.svg') }}" alt="logo">
            </a>
        </div>
        <div class="menu-nav">
            {% for m in menu %}
            <a class="menu-nav-item" href="{{ m.url }}">{{ m.title }}</a>
            {% endfor %}
        </div>
        <div class="navigation">
            {% for m in menu %}
            <a class="menu-nav-item" href="{{ m.url }}">{{ m.title }}</a>
            {% endfor %}
        </div>
        <div class="mail-image">
            <a href="mailto: dariavarlamovaa@gmail.com"
               class="my-email"><img src="{{ url_for ('static', filename='images/my-mail.svg') }}" alt="mail"></a>
        </div>
        <div class="burger-menu" id="burger">
            <span></span>
        </div>
    </div>
</header>
{% endblock header %}
<main>
    {% block content %}
    {% endblock content %}
</main>
<footer class="footer-nav">
    <div class="page-footer_wrapper">
        <hr class="horizontal-line">
        <div class="next-steps">
            <p class="positive-sentence">Feel free to connect with me</p>
            <div class="mail-parts">
                <img src="{{ url_for ('static', filename='images/mail-box.svg') }}" alt="mail">
                <span class="mail"><a href="mailto: dariavarlamovaa@gmail.com" class="dev-email">dariavarlamovaa@gmail.com</a></span>
            </div>
            <p class="another-platforms">You may also find me on these platforms</p>
            <div class="footer-body">
                <ul class="footer-icons">
                    <li class="social-icon">
                        <a href="https://github.com/dariavarlamovaa" target="_blank"
                           rel="noopener noreferrer">
                            <svg stroke="currentColor" fill="#4D6F2E" stroke-width="0" viewBox="0 0 1024 1024"
                                 height="20px" width="20px" xmlns="http://www.w3.org/2000/svg">
                                <path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="social-icon">
                        <a href="https://www.linkedin.com/in/dariavarlamovaa/"
                           target="_blank" rel="noopener noreferrer">
                            <svg stroke="currentColor" fill="#4D6F2E" stroke-width="0" viewBox="0 0 448 512"
                                 height="20px" width="20px" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="page-info">
        <div class="footer-copyright">
            <p>© 2024</p>
        </div>
        <div class="footer-designer-name">
            <p>Designed and Developed with <span class="red-word">LOVE</span> by Daria V.</p>
        </div>
    </div>
</footer>
<script defer src="{{ url_for ('static', filename='js/burger-menu.js') }}"></script>
</body>
</html>