{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for ('static', filename='css/media_home.css') }}">
{% endblock %}

{% block content%}
<section class="main-page">
    <div class="container">
        <div class="banner">
            <div class="first-part parts">
                <h1>Hi<span class="exclamation-mark-extra">!</span></h1>
                <img class="home-lines exclamation-mark"
                     src="{{ url_for ('static', filename='images/exclamation_mark.svg') }}" alt="exclamation mark">
            </div>
            <div class="second-part parts">
                <p>My name is <span class="name-extra">Daria</span></p>
                <img class="home-lines circle" src="{{ url_for ('static', filename='images/circle.svg') }}"
                     alt="circle">
            </div>
            <div class="third-part parts">
                <p>I am a <span class="occupation-extra">Software Developer</span></p>
                <img class="home-lines wavy-line" src="{{ url_for ('static', filename='images/wavy_line.svg') }}"
                     alt="wavy line">
            </div>
            <a class="link-to-about" href="{{ url_for ('me') }}">Want to know more about me? <span class="click-button">Click</span></a>
            <div class="my-svg">
                <img class="me-line" src="{{ url_for ('static', filename='images/me-line.svg') }}" alt="me line">
                <img class="my-svg-portrait" src="{{ url_for ('static', filename='images/me.svg') }}" alt="my svg">
            </div>
        </div>
    </div>
</section>

{% endblock content %}