{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/me.css') }}">
{% endblock %}
{% block content %}
<section class="info-about">
    <div class="about container">
        <div class="banners-about">
            <div class="about-picture">
                <img src="{{ url_for ('static', filename='images/me-arrow.svg') }}" alt="me :D">
                <img class="my-pic" src="{{ url_for ('static', filename='images/me.jpeg') }}" alt="Coding girl">
            </div>
            <div class="about-me">
                <p>I am a software developer based in <strong class="strong-word blue">Finland</strong>, focused mainly
                    in
                    backend development.</p>
                <br>
                <p>Passionate <strong class="strong-word blue">Python</strong> enthusiast with a fervent love for
                    programming and a knack for problem-solving.
                </p>
                <br>
                <p>I have worked on several notable projects, including <strong class="strong-word violet">Luka</strong>,
                    which is
                    created with the aim of improving the process of interaction between the doctor and patients.</p>
                <br>
                <p>I'm currently available for hire: remote/onsite.
                </p>
                <img class="highlight" src="{{ url_for ('static', filename='images/highlight.svg') }}" alt="highlight">
            </div>
        </div>
        <hr class="horizontal-line">
        <div class="toolbox">
            <div class="toolbox-image">
                <img class="toolbox-img" src="{{ url_for ('static', filename='images/toolbox.svg') }}" alt="toolbox">
            </div>
            <p class="tools-sentence sentence-me">The skills, tools & technologies I am really good at:</p>
            <div class="tools">
                {% for tool in tools %}
                <p class="one-tool">{{ tool.title }}</p>
                {% endfor %}
            </div>
            <div class="and-more">
                <img class="and-more-img" src="{{ url_for ('static', filename='images/and-more.svg') }}" alt="and more">
            </div>
        </div>
        <hr class="horizontal-line">
        <div class="experience">
            <div class="experience-picture">
                <img class="experience-img" src="{{ url_for ('static', filename='images/experience.svg') }}"
                     alt="experience">
            </div>
            <p class="experience-sentence sentence-me">Here is a quick summary of my most recent experiences:</p>
            <div class="all-jobs">
                <div class="experience-info">
                    <div class="job-info">
                        <p class="position">Software Developer</p>
                        <p class="company">DAP Devs Solutions</p>
                        <p class="period">Nov 2023 - Present</p>
                        <p class="place">Remote</p>
                    </div>
                    <div class="job-responsibilities">
                        <ul>
                            <li><p class="one-responsible">Developed and optimized Python web-applications using the
                                Django/DRF framework.</p></li>
                            <li><p class="one-responsible">Developed responsive and user-friendly web interfaces using
                                JavaScript.</p></li>
                            <li><p class="one-responsible">Created site layouts in Figma.</p></li>
                            <li><p class="one-responsible">Worked with SQLite, MySQL and PostgreSQL databases, wrote
                                queries.</p></li>
                            <li><p class="one-responsible">Used Git, managed branches.</p></li>
                            <li><p class="one-responsible">Developed unit-tests to check the functionality and
                                performance
                                of web-applications.</p></li>
                            <li><p class="one-responsible">Interacted with clients, agreed on requirements and
                                additional
                                functionality.</p></li>
                            <li><p class="one-responsible">Worked in a team with other developers, conducted a code
                                review.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="experience-info">
                    <div class="job-info">
                        <p class="position">Sales Manager</p>
                        <p class="company">Garti</p>
                        <p class="period">2021 - 2022</p>
                        <p class="place">Remote</p>
                    </div>
                    <div class="job-responsibilities">
                        <ul>
                            <li><p class="one-responsible">Collected and analyzed data on the market, competitors and
                                consumers for strategic planning.</p></li>
                            <li><p class="one-responsible">Effectively interacted with clients and successfully
                                implemented
                                large transactions.</p></li>
                            <li><p class="one-responsible">Achieved and exceeded the set sales goals from the head.</p>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <hr class="horizontal-line">
        <div class="education">
            <div class="education-picture">
                <img class="education-img" src="{{ url_for ('static', filename='images/education.svg') }}"
                     alt="education">
            </div>
            <p class="education-sentence sentence-me">Some of my degrees, licenses & certifications</p>
            <div class="education-info">
                <div class="degree-info">
                    <p class="university">Tomsk State University</p>
                    <p class="profession">Professional Retraining in Computer Software Engineering</p>
                    <p class="period">2025</p>
                    <p class="grade">5/5</p>
                </div>
                <div class="degree-info">
                    <p class="university">Computer Academy "TOP"</p>
                    <p class="profession">Computer Software Engineering</p>
                    <p class="period">Oct 2022 - Nov 2023</p>
                    <p class="grade">Excellent</p>
                </div>
                <div class="degree-info">
                    <p class="university">Petrozavodsk State University (PetrSU)</p>
                    <p class="profession">Bachelor's Degree, Hospitality, Tourism and Leisure</p>
                    <p class="period">2020 - 2024</p>
                    <p class="grade">5/5</p>
                </div>
            </div>
        </div>
        <hr class="horizontal-line">
        <div class="life-outside-work">
            <div class="life-picture">
                <img class="life-img" src="{{ url_for ('static', filename='images/life-outside-work.svg') }}"
                     alt="life outside work">
            </div>
        </div>
    </div>
</section>

{% endblock content %}