{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/me.css') }}">
{% endblock %}
{% block content %}
<section class="info-about">
    <div class="about container">
        <div class="banners-about">
            <div class="about-picture">
                <img src="{{ url_for ('static', filename='images/me-arrow.svg') }}" alt="me :D">
                <img class="my-pic" src="{{ url_for ('static', filename='images/me.jpeg') }}" alt="Coding girl">
            </div>
            <div class="about-me">
                <p>I am a software developer from <strong class="strong-word blue">Finland</strong>, focused mainly in
                    backend development.</p>
                <br>
                <p>Passionate <strong class="strong-word blue">Python</strong> enthusiast with a fervent love for
                    programming and a knack for problem-solving.
                </p>
                <br>
                <p>I have worked on several notable projects, including <strong class="strong-word violet">Luka</strong>,
                    which is
                    created with the aim of improving the process of interaction between the doctor and patients.</p>
                <br>
                <p>I'm currently available for hire: remote/onsite.
                </p>
                <img class="highlight" src="{{ url_for ('static', filename='images/highlight.svg') }}" alt="highlight">
            </div>
        </div>
        <div class="toolbox">
            <img class="toolbox-img" src="{{ url_for ('static', filename='images/toolbox.svg') }}" alt="toolbox">
        </div>
        <div class="tools">

<!--            {% for category, title in tools %}-->
<!--            <p>{{ category }}</p>-->
<!--            <div class="category">-->
<!--                <p>{{ title }}</p>-->
<!--            </div>-->
<!--            {% endfor %}-->
        </div>
    </div>
</section>

{% endblock content %}