{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/projects.css') }}">
<link rel="stylesheet" href="{{ url_for ('static', filename='css/media_projects.css') }}">
{% endblock %}
{% block content%}
<section class="my-portfolio">
    <div class="projects container">
        <div class="projects-top">
            <h1 class="my-projects-h1">My projects</h1>
            <div class="line-project line" style="opacity: 1; width: 100%;"></div>
        </div>
        <div class="all-projects">
            {% for project in projects[::-1] %}
            <div class="one-project">
                <div class="project-image-div">
                    <a href="{{ project.url }}" target="_blank"><img class="project-image" src="{{ project.picture }}" alt="{{ project.title }}"></a>
                </div>
                <div class="project-info">
                    <p class="project-description">{{ project.description }}</p>
                    <span class="project-title">{{ project.title }}</span>
                    <p class="project-tools">{{ project.tools }}</p>
                </div>
                <div class="project-details">
                    <a href="{{ project.url }}" target="_blank">view the project —></a>
                </div>
            </div>
            {% if not loop.last %}
            <div class="line-between-projects line" style="opacity: 1; width: 100%;"></div>
            {% endif %}
            {% endfor %}
        </div>

    </div>
</section>

{% endblock content%}